#timeline-spacer {
	height: $timeline-spacer-height;
	width: 100%;
	position:absolute;
	bottom: $timeline-height;
	background: linear-gradient($timeline-background-top,$timeline-background);
	background: -webkit-linear-gradient($timeline-background-top,$timeline-background);
    background: -o-linear-gradient($timeline-background-top,$timeline-background); 
    background: -moz-linear-gradient($timeline-background-top,$timeline-background); 
}

#timelineWrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: $timeline-height;
	overflow:hidden;
}

#timeline {
	width: 100%;
	height: $timeline-height;
	position: absolute;
	overflow:scroll;
	font-family: $styled-font;
	background: $timeline-background;



	.timelineElement {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin-top:0;
		

    	.timelineElementTop, .timelineElementBottom {
    		position:relative;
    		float:left;
    	}
    	.timelineElementTop{
    		width: 100%;
    		height: 85px;
    		display: table;
    		table-layout: fixed;
    	}
    	.timelineElementBottom {
    	 	height: 30px;
    	 	clear: both;
    	 	width: 100%;

    	 	.major-axis-point {
    	 		position:absolute;
    	 		height: 100%;
    	 		border-left: 1px solid $tick-border;
    	 		padding: 9px 0 0 4px;
    	 		font-size: $timeline-font-semi-sm;
    	 		text-transform: uppercase;
    	 		font-weight: 500;
    	 	}
    	}


		.tick-box {
			display: table-cell;
			font-size: $timeline-font-sm;
			vertical-align: top;
			border-right: 1px solid $tick-border;
			
			
			height: 100%;

			.hit{
				width: 100%;
				height:55px;
				cursor: pointer;
				padding: 6px 4px 0 4px;
				-webkit-box-sizing: border-box; 
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				background-size: 75%;
				background-position: center center;
				background-repeat: no-repeat;
				max-width: 40px;
    			margin: auto;
				

				img {
					max-width: 100%;
					margin-top: 50%;
				}

				&:hover {
					background-image: url('/dist/img/pick.png');
					
				}

				&.correct { 
					background-image: url('/dist/img/yep.png'); 
					&:hover { background-image: url('/dist/img/yep.png');}
				}
				&.incorrect { 
					background-image: url('/dist/img/nope.png'); 
					&:hover { background-image: url('/dist/img/nope.png');}
				}
			}

			.label {
				border-top: 3px solid $tick-border;
				padding: 10px 4px 0 4px;
				-webkit-box-sizing: border-box; 
				-moz-box-sizing: border-box;  
				box-sizing: border-box;
			}
		}
	}

}