body {
	color: #fff;
	background-color: #000;
	font-family: $styled-font;

	header {
		width: 100%;
		height: $header-height;
		background-color: #fff;
		padding: 0 20px;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		.logo {
			position:relative;
			float:left;
			margin: 5px 0;
			height: 50px;
			width:20%;

			a {
				img {
					height: 100%;
				}
			}
		}

		.site-title {
			position:relative;
			float:left;
			width: calc( 80% - 175px);
			text-align: right;

			h1 {
				margin: 0;
				padding: 0;
				font-family: $styled-font;
				font-weight: 500;
				text-transform: uppercase;
				color: $header-text;
				font-size: $header-font-md;
				margin-top: 20px;
			}
		}
		.social {
			position:relative;
			margin-left: 25px;
			float:left;
			width: 150px;
			color: $header-text;
			height: 100%;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: inline-block;
				float: right;
				height: 100%;

				li {
					display: inline-block;
					height: 100%;

					&:hover {
						background-color: #f2f2f2;
					}
					a {
						padding: 10px;
						display: inline-block;
						height: 100%;
						line-height: 35px;

						img {
							margin: auto;
   							vertical-align: middle; 
   							display: inline-block;
						}
					}
				}
			}
		}

		@media (max-width: $breakpoint-md){
			.site-title { display: none; }
			.social { float: right; }
		}
	}

	.wrapper {
		position: absolute;
		margin: 0;
		width: 100%;
		background-color: #cfcfcf;
		height: calc(100% - #{$header-height} - #{$timeline-height} - #{$timeline-spacer-height});

		.innerWrapper {	
			width: 100%;
			height: 100%;
		}
	}

	@media (max-width: $breakpoint-sm){
		.desktop { display: none; }
	}
}