// config
$legacy-support-for-ie6: false !default;
$legacy-support-for-ie7: false !default;
$legacy-support-for-ie8: false !default;

//fonts
$base-font-family:  "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
$monospace-font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
$styled-font: apertura, sans-serif;

// font sizes
$header-font-md: 18px;
$timeline-font-h2: 28px;
$timeline-font-h2-sm: 20px;
$timeline-font-lg: 28px;
$timeline-font-md: 18px;
$timeline-font-semi-sm : 12px;
$timeline-font-sm : 11px;
$button-font: 30px;


// colors
$header-text: #333333;
$question-number: #a3c9d8;
$question-text: #fff;
$tick-border: #ffffff;
$timeline-background: #004bb4;

// width and height
$question-max-width: 650px;
$timeline-spacer-height: 20px;
$timeline-height: 115px;
$header-height: 60px;

//breakpoints
$breakpoint-lg: 1300px;
$breakpoint-md: 650px;
$breakpoint-sm: 450px;